<%= form_for(equipamento) do |f| %>
  <% if equipamento.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(equipamento.errors.count, "error") %> prohibited this equipamento from being saved:</h2>

      <ul>
      <% equipamento.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <table>
    <tr>  
    <td>
    <%= f.label  :Código %>
    <%= f.number_field :codigo %>
    </td>
    <td>
    <%= f.label :Descrição %>
    <%= f.text_field :descricao %>
    </td>
     <tr> 
    </table>
    </div>

  <div class="field">
   
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
