
<%= form_for(equipamento) do |f| %>
  <% if equipamento.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(equipamento.errors.count, "error") %> prohibited this equipamento from being saved:</h2>

      <ul>
      <% equipamento.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <table>

    <tr>
    <td>
      <%= f.label :Descrição %>
      <td class="col-md-9" ><%= f.text_field :descricao %>
    </td>
    <tr> 
   <tr><td><br></td></tr>
   
    </table>

  <div class="actions">
    <%= f.submit class: 'btn btn-primary btn-sm'%>
  </div>
<% end %>
