<p id="notice"><%= notice %></p>

<p>
  <strong>Coódigo:</strong>
  <%= @equipamento.codigo %>
</p>

<p>
  <strong>Descrição:</strong>
  <%= @equipamento.descricao %>
</p>

<%= link_to 'Edit', edit_equipamento_path(@equipamento) %> |
<%= link_to 'Back', equipamentos_path %>
