<p id="notice"><%= notice %></p>

<h1>Equipas</h1>

<table>
  <thead>
    <tr>
      <th>Codigo</th>
      <th>Descricao</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @equipas.each do |equipa| %>
      <tr>
        <td><%= equipa.codigo %></td>
        <td><%= equipa.descricao %></td>
        <td><%= link_to 'Show', equipa %></td>
        <td><%= link_to 'Edit', edit_equipa_path(equipa) %></td>
        <td><%= link_to 'Destroy', equipa, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Equipa', new_equipa_path %>
