<p id="notice"><%= notice %></p>

<p>
  <strong>Codigo:</strong>
  <%= @equipa.codigo %>
</p>

<p>
  <strong>Descricao:</strong>
  <%= @equipa.descricao %>
</p>

<%= link_to 'Edit', edit_equipa_path(@equipa) %> |
<%= link_to 'Back', equipas_path %>
