<%= form_for(manutention) do |f| %>
  <% if manutention.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(manutention.errors.count, "error") %> prohibited this manutention from being saved:</h2>

      <ul>
      <% manutention.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<table >
   <tr>
    <td><%= f.label :data_manutencao %></td>
    <td><%= f.date_select :data_manutencao %></td>
  </tr>
  <tr><td><br></td></tr>
  
  <tr>
    <td><%= f.label :usuario_manutencao %></td>
    <td><%= f.text_field :usuario_manutencao,:value =>current_user.nome, :readonly => true %></td>
  </tr>
  <tr><td><br></td></tr>
    
  <tr>
    <td><%= f.label :fornecedor %></td>
    <td><%= f.text_field :fornecedor %></td>
  </tr>
  <tr><td><br></td></tr>

  <tr>
    <td> <%= f.label :baixa %></td>
     <td><%= f.check_box :baixa %></td>
  </tr>
  <tr><td><br></td></tr>
  
</table>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
