<p id="notice"><%= notice %></p>
<div id="list" class="row">

<div class="table-responsive col-md-12">
<table class="table table-striped" cellspacing="0" cellpadding="0" width="100%" height="100" >
  <thead>
    <tr>
      <th>Data da manutenção</th>
      <th>Usuário responsável</th>
      <th>Fornecedor</th>
      <th>Serviço</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @manutentions.each do |manutention| %>
      <tr>
        <td><%=formato_data(manutention.data_manutencao) %></td>
        <td><%= manutention.usuario_manutencao %></td>
        <td><%= manutention.fornecedor %></td>
        <td><%= manutention.tipo_servico.servico%></td>
         <td class="actions">
            <a class="btn btn-warning btn-xs"<%= link_to 'Editar', edit_manutention_path(manutention) %></a>
            <a class="btn btn-danger btn-xs" <%= link_to 'Deletar', manutention, method: :delete, data:{ confirm: 'Você tem certeza?' } %></a>
            <a class="btn btn-success btn-xs"<%= link_to 'Listar Equips', {:controller => "manuequips", :action => "index", :manutencao_id => manutention.id,:fornecedor =>manutention.fornecedor ,:listar =>true}%> </a>
            <a class="btn btn-primary btn-xs"<%= link_to 'Adicionar', {:controller => "manuequips", :action => "index", :manutencao_id => manutention.id,:fornecedor =>manutention.fornecedor ,:listar =>false}%> </a>
          </td>
      </tr>
    <% end %>
  </tbody>
</table>

  <a class="btn btn-default btn-sm" <%= link_to 'Imprimir', manutentions_path(format: :pdf), target: '_blank' %></a>
  <a class="btn btn-primary btn-sm" <%= link_to 'Nova Manutenção', new_manutention_path %></a>