<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
<meta charset="utf-8"/>
<head>
<title>Relatório de Manutenções</title>
</head>

<body>
  <header>
    <table>
    <tr>
      <td><%= wicked_pdf_image_tag 'images/brasao_ufba.jpg', :width => "50",  :height=>"90" %></td>
      <td colspan="2"></td><center></center><td><b>Relatório de Manutenções<td></b></center></td>
    </tr>
    </table>
  </header>  
  
  <table class="table table-striped" cellspacing="0" cellpadding="0" width="100%" height="100" >
    <tr>
      <td>Data da manutenção</td>
      <td>Usuário responsável</td>
      <td>Fornecedor</td>
      <td>Serviço</td>
      <td colspan="4"></th>
    </tr>
    
    <% @manutentions.each do |manutention| %>
    <tr>
        <td><%=formato_data(manutention.data_manutencao) %></td>
        <td><%= manutention.usuario_manutencao %></td>
        <td><%= manutention.fornecedor %></td>
        <td><%= manutention.tipo_servico.servico%></td>
      <th colspan="4"></th>
    </tr>
    <% end %>
      
  </table>  
</body>
</html>