<%= form_for(instituto) do |f| %>
  <% if instituto.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(instituto.errors.count, "error") %> prohibited this instituto from being saved:</h2>

      <ul>
      <% instituto.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
<table>
  
  <tr colspan="3">
   <td> <%= f.label :Codigo %></td>
   <td class="col-md-9" ><%= f.number_field :cod_inst %></td>
  </tr>
  <tr><td><br></td></tr>
  
  <tr>
   <td> <%= f.label :Nome %></td>
   <td class="col-md-9" width="100" > <%= f.text_field :nome %></td>
  </tr>
  <tr><td><br></td></tr>
  
  <tr>
   <td> <%= f.label :Endereço%></td>
   <td class="col-md-9" > <%= f.text_area :endereco %></td>
  </tr>
  <tr><td><br></td></tr>
  
</table>  

  <div class="btn btn-inverse btn-sm">
    <%= f.submit %>
  </div>
  
<% end %>
