<%= form_for(instituto) do |f| %>
  <% if instituto.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(instituto.errors.count, "error") %> prohibited this instituto from being saved:</h2>

      <ul>
      <% instituto.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
<table>
  
  <tr>
   <td> <%= f.label :Nome %></td>
   <td class="col-md-9" width="100" > <%= f.text_field :nome %></td>
  </tr>
  <tr><td><br></td></tr>
  
    <tr>
   <td> <%= f.label :Sigla %></td>
   <td class="col-md-9" width="100" > <%= f.text_field :sigla %></td>
  </tr>
  <tr><td><br></td></tr>
  
  <tr>
   <td> <%= f.label :Local%></td>
   <td class="col-md-9" > <%= f.text_area :local %></td>
  </tr>
  <tr><td><br></td></tr>
  
</table>  


  <div class="actions">
    <%= f.submit class: 'btn btn-primary btn-sm'%>
  </div>
  
<% end %>
