<% if @teminst == 0 %>
<p> Não existe nenhum instituto cadastrado. </p>
<br> 

<%else %>
  <%= form_tag(institutos_path, :method => "get", id: "search-form") do %>
  <%= text_field_tag :search, params[:search], placeholder: "Digite o instituto" %>
  <%= submit_tag "Buscar" %>
  <% end %>
  <br> 
  
      <% if @institutos.present? %>
      <p id="notice"><%= notice %></p>
      <div id="list" class="row">
        
      <div class="table-responsive col-md-12">
      <table class="table table-striped" cellspacing="0" cellpadding="0" width="100%" height="100" >
        <thead>
          <tr>
            <th>Nome</th>
            <th>Sigla</th>
            <th>Local</th>
            <th colspan="3"></th>
          </tr>
        </thead>
        <tbody>
          
        <% @institutos.each do |instituto| %>
          <tr>
            <td><%= instituto.nome %></td>
             <td><%= instituto.sigla %></td>
            <td><%= instituto.local %></td>
            <td class="actions">
               <%= link_to 'Visualizar', instituto, class: 'btn btn-success btn-xs' %>
               <% if can? :pesq, Instituto %>
                <%= link_to 'Editar', edit_instituto_path(instituto) , class: 'btn btn-warning btn-xs' %>
                <%= link_to 'Deletar', instituto, method: :delete, data:{ confirm: 'você tem certeza?' }, class: 'btn btn-danger btn-xs' %>
               <%end%>
            </td>
         </tr>
        <% end %>
        
        </tbody>
        </table>
        <div class="text-center">
          <div class="pagination">
          <table>
            <tr>
              <td ><%= paginate @institutos %></td>
          <tr>
        </table>
        </div>
        </div>
        
        </div>
        </div>
        <br>
        
        <% else %>
          <p> Não existe nenhum instituto cadastrado com o(s) termo(s) <%= params[:search] %>. </p>
          <a class="btn btn-default btn-sm" <%= link_to 'Voltar', institutos_path %></a>
          <br> <br>
        <% end %>
        
        <a class="btn btn-default btn-sm" <%= link_to 'Imprimir', institutos_path(format: :pdf), target: '_blank' %></a> 
<%end%>
  
<% if can? :pesq, Instituto %>
<a class="btn btn-primary btn-sm" <%= link_to 'Novo Instituto', new_instituto_path %></a>
<%end%>