<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @instituto.nome %>
</p>

<p>
  <strong>Sigla:</strong>
  <%= @instituto.sigla %>
</p>

<p>
  <strong>Local:</strong>
  <%= @instituto.local %>
</p>

<%= link_to 'Edit', edit_instituto_path(@instituto) %> |
<%= link_to 'Back', institutos_path %>
