<%= form_for(laboratorio) do |f| %>
  <% if laboratorio.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(laboratorio.errors.count, "error") %> prohibited this laboratorio from being saved:</h2>

      <ul>
      <% laboratorio.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
<table >
  <tr>
     <td><%= f.label :Código %></td>
     <td class="col-md-9" ><%= f.number_field :cod_lab %></td>
  </tr>
  <tr><td><br></td></tr>

   <tr>
    <td><%= f.label :Instituto %></td>
    <td><%= collection_select(:laboratorio, :cod_inst, @institutos, :id, :nome, prompt: true) %></td>
  <tr>
 <tr><td><br></td></tr>
 
  <tr>
    <td> <%= f.label :nome %></td>
    <td class="col-md-9" ><%= f.text_field :nome %></td>
  <tr>
  <tr><td><br></td></tr>
  
  <tr>
   <td><%= f.label :local %></td>
   <td class="col-md-9"> <%= f.text_area :local %></td>
  <tr>
  <tr><td><br></td></tr>
</table>

  <div class="actions">
    <%= f.submit %>
  </div>
  
<% end %>
