<p id="notice"><%= notice %></p>

<p>
  <strong>Codigo:</strong>
  <%= @laboratorio.codigo %>
</p>

<p>
  <strong>Integer:</strong>
  <%= @laboratorio.integer %>
</p>

<p>
  <strong>Descricao:</strong>
  <%= @laboratorio.descricao %>
</p>

<p>
  <strong>Local:</strong>
  <%= @laboratorio.local %>
</p>

<%= link_to 'Edit', edit_laboratorio_path(@laboratorio) %> |
<%= link_to 'Back', laboratorios_path %>
