<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @laboratorio.nome %>
</p>

<p>
  <strong>Sigla:</strong>
  <%= @laboratorio.sigla %>
</p>

<p>
  <strong>Local:</strong>
  <%= @laboratorio.local %>
</p>

<p>
  <strong>Instituto:</strong>
  <%= @laboratorio.instituto.sigla %>
</p>

<p>
  <strong>Programa:</strong>
  <%= @laboratorio.programa.sigla %>
</p>

<a class="btn btn-default btn-sm" <%= link_to 'Voltar', laboratorios_path %></a>