<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @laboratorio.nome %>
</p>

<p>
  <strong>Sigla:</strong>
  <%= @laboratorio.sigla %>
</p>

<p>
  <strong>Local:</strong>
  <%= @laboratorio.local %>
</p>

<p>
  <strong>Instituto:</strong>
  <%= @laboratorio.instituto.sigla %>
</p>

<%= link_to 'Edit', edit_laboratorio_path(@laboratorio) %> |
<%= link_to 'Back', laboratorios_path %>
