<%= form_for(manuequip) do |f| %>
  <% if manuequip.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(manuequip.errors.count, "error") %> prohibited this manuequip from being saved:</h2>

      <ul>
      <% manuequip.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :manutencao_id %>
    <%= f.number_field :manutencao_id %>
  </div>

  <div class="field">
    <%= f.label :equipamento_id %>
    <%= f.number_field :equipamento_id %>
  </div>

  <div class="field">
    <%= f.label :labequip_id %>
    <%= f.number_field :labequip_id %>
  </div>

  <div class="field">
    <%= f.label :baixa %>
    <%= f.check_box :baixa %>
  </div>

  <div class="actions">
    <%= f.submit class: 'btn btn-primary btn-sm'%>
  </div>
<% end %>
