<p id="notice"><%= notice %></p>

<table >
<%@listar=params[:listar] %>
    <tr>
      <th>Fornecedor:  <%= params['fornecedor'] %> </th>  

    </tr>

</table>  

<div id="list" class="row">
<div class="table-responsive col-md-12">
<table class="table table-striped" cellspacing="0" cellpadding="0" width="100%" height="100" >
  <thead>
    <tr>
       <%if @listar=='false'%>
         <th>Laboratório</th>
         <th>Equipamento</th>
        <th>Num. Tombamento</th>
           <th>Manutenção</th>
        <%else %>
        <th>Equipamento</th>
        <th>Num. Tombamento</th>
        <%end%>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    
    <% @manuequips.each do |manuequip| %>
      <tr>
        <%if @listar=='true'%>
          <td><%= manuequip.labequip.equipamento.descricao %></td>
          <td><%= manuequip.labequip.numero_tombamento %></td>
           <%else%>
           <td><%= manuequip.laboratorio.sigla %></td>
           <td><%= manuequip.equipamento.descricao %></td>
           <td><%= manuequip.numero_tombamento %></td>
           <td><input id="manutencao" name="manutencao" type="checkbox" disabled="disabled" <% if manuequip.manutencao %> checked <%end%> /></td>
        <%end%>
       
        <td class="actions">
        <%if @listar=='false'%>
            <a class="btn btn-primary btn-xs"<%= link_to 'Incluir',incluir_manuequip_path(manuequip,:manutencao_id =>params[:manutencao_id], :labequip_id => manuequip.id,:listar=>false) %> </a>
        <%end%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>


 <a class="btn btn-default btn-sm" <%= link_to 'Imprimir', {:controller => "manuequips", :action => "index", :manutencao_id => params[:manutencao_id],:fornecedor => params['fornecedor'] ,:listar => params[:listar], format: :pdf}, target: '_blank' %></a> 
 <a class="btn btn-default btn-sm" <%= link_to 'Voltar', manutentions_path %></a>
   

