<%= form_for(labequip) do |f| %>
  <% if labequip.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(labequip.errors.count, "error") %> prohibited this labequip from being saved:</h2>

      <ul>
      <% labequip.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<table >
   <tr>
     <td><%= f.label :Laboratório %> </td>
      <td><%= collection_select(:labequip, :laboratorio_id, @laboratorios, :id, :nome, {:selected => params[:laboratorio_id]}) %></td>
   </tr>
   <tr><td><br></td></tr>
 
    <tr>
      <td><%= f.label :Equipamento %></td>
      
        <td><%= collection_select(:labequip, :equipamento_id, @equipamentos, :id, :descricao, prompt: "true") %></td>
    </tr>
    <tr><td><br></td></tr>

    <tr>
      <td> <%= f.label :quantidade %></td>
      <td class="col-md-9" ><%= f.number_field :quantidade %></td>
    </tr>
    <tr><td><br></td></tr>
    
     <tr>
      <td> <%= f.label :numero_tombamento %></td>
      <td class="col-md-9" > <%= f.text_field :numero_tombamento %></td>
     </tr>
    <tr><td><br></td></tr>
    
    
    <tr>
      <td> <%= f.label :manutencao %>
     <td><%= f.check_box :manutencao %></td>
    </tr>
    <tr><td><br></td></tr>
    
    <tr>
    <td> <%= f.hidden_field :user_manutencao, value:current_user.nome %> </td>
    </tr>
    <tr><td><br></td></tr>
  
  </div>
    
</table>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
