<p id="notice"><%= notice %></p>
<div id="list" class="row">

<div class="table-responsive col-md-12">
<table class="table table-striped" cellspacing="0" cellpadding="0" width="100%" height="100" >
  <thead>
    
    <tr>
      <th>Laboratório</th>
      <th>Equipamento</th>
      <th>Qtd.</th>
      <th>Num. Tombamento</th>
      <th>Manutenção</th>
      <th colspan="5"></th>
    </tr>
  </thead>

  <tbody>
    <% @labequips.each do |labequip| %>
      <tr>
        <td><%= labequip.laboratorio.sigla %></td>
        <td><%= labequip.equipamento.descricao %></td>
        <td><%= labequip.quantidade %></td>
        <td><%= labequip.numero_tombamento %></td>
        <td><input id="manutencao" name="manutencao" type="checkbox" disabled="disabled" <% if labequip.manutencao %> checked <%end%> /></td>
        <td class="actions">
          <a class="btn btn-success btn-xs"<%= link_to 'Visualizar', labequip %> </a>
           <% if can? :pesq, Instituto %>
           <a class="btn btn-warning btn-xs"<%= link_to 'Editar', edit_labequip_path(labequip) %></a>
           <a class="btn btn-danger btn-xs"  <%= link_to 'Deletar', labequip, method: :delete, data:{ confirm: 'Você tem certeza?' } %></a>
           <%end%>  

        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<div class="text-center">
        <div class="pagination">
        <table>
          <tr>
            <td ><%= paginate @labequips %></td>
        <tr>
      </table>
      </div>
      </div>

<% if can? :pesq, Instituto %>
 <a class="btn btn-primary btn-sm" <%= link_to 'Novo Equipamento', {:controller => "labequips", :action => "new", :laboratorio_id => params[:laboratorio_id]} %></a> <br> <br>
<%end%>     

<a class="btn btn-default btn-sm" <%= link_to 'Imprimir', {:controller => "labequips", :action => "index", :laboratorio_id => params[:laboratorio_id], format: :pdf}, target: '_blank' %></a> 
<a class="btn btn-default btn-sm" <%= link_to 'Voltar', laboratorios_url %></a>
