<p id="notice"><%= notice %></p>

<p>
  <strong>Cod lab:</strong>
  <%= @labequip.cod_lab %>
</p>

<p>
  <strong>Cod equip:</strong>
  <%= @labequip.cod_equip %>
</p>

<p>
  <strong>Quantidade:</strong>
  <%= @labequip.quantidade %>
</p>

<a class="btn btn-inverse btn-sm" <%= link_to 'Voltar', labequips_path %></a>
