<p id="notice"><%= notice %></p>

<p>
  <strong>Laboratorio:</strong>
  <%= @labequip.laboratorio.sigla %>
</p>

<p>
  <strong>Equipamento:</strong>
  <%= @labequip.equipamento.descricao %>
</p>

<p>
  <strong>Quantidade:</strong>
  <%= @labequip.quantidade %>
</p>

<p>
  <strong>Numero tombamento:</strong>
  <%= @labequip.numero_tombamento %>
</p>

<p>
  <strong>Manutencao:</strong>
  <%= @labequip.manutencao %>
</p>
<a class="btn btn-default btn-sm" <%= link_to 'Voltar', {:controller => "labequips", :action => "index", :laboratorio_id => @labequip.laboratorio.id} %></a>
</div>