<!doctype html>
<%=stylesheet_link_tag 'application', media: 'all','data-turbolinks-track': 'reload' %>

<html>
  <div class="navbar-header">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <title>Laboratórios Compartilhados</title>
   <%= csrf_meta_tags %>
   
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
   <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.css">
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet"> 
 </div>

<body>
    <title>Laboratórios Compartilhados</title>
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    
<div class="navbar-collapse collapse"align="left">

   <div class="nav navbar-nav pull-left">
        <%=link_to 'LabComp', root_path, class:"navbar-brand" %>
    </div>

<div class="container">
   <button type="button" class="navbar-toggle" > 
		<span class="sr-only"> Toggle navigation </span> 
		<span class="icon-bar"> </span> 
		<span class="icon-bar"></span> 
    </button>
       <a class="navbar-brand" href="/" title="Home"><i class="fa fa-home fa-lg"></i></a>
      
    <% if user_signed_in? %>
        <!--<%= link_to "Sair", destroy_user_session_path, :method => :delete, :class => 'navbar-brand navbar-right' %>-->
        <!--<%= link_to 'Perfil', edit_user_registration_path, :class => 'navbar-brand navbar-right' %> -->
       <a class ="navbar-brand navbar-right" href="/logout" title="Sair"><i class="fa fa-sign-out fa-lg"></i></a>
       <a class ="navbar-brand navbar-right" href="/perfil" title="Perfil"><i class="fa fa-user fa-lg"></i></a>
        <% if can? :manage,@users %>
            <a class ="navbar-brand navbar-right" href="/user" title="Usuários"><i class="fa fa-users fa-lg"></i></a>
        <%end%>  
    <% else %>
        <a class ="navbar-brand navbar-right" href="/login" title="Login"><i class="fa fa-sign-in fa-1x"> Login</i></a>
    <% end %>
 
    <div class= "dropdown">
	 <a class="navbar-brand dropdown-toggle-left " data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Cadastros
	 <span class="caret"></span></a>
      <ul class="dropdown-menu" >
        <li> <a class="glyphicon glyphicon-hdd" href="/equipamentos"> <span class = "p">Equipamentos</span></a></li>
        <li><a class="glyphicon glyphicon-home" href="/institutos">   <span class = "p"> Institutos</span></a></li>
        <li><a class="glyphicon glyphicon-book" href="/laboratorios"> <span class = "p"> Laboratórios</span></a></li>
        <% if can? :manage,@users %>
            <li><a class="glyphicon glyphicon-education" href="/programas"> <span class = "p"> Programas</span></a></li>
            <li><a class="glyphicon glyphicon-wrench" href="/tipo_servicos"> <span class = "p"> Serviços</span></a></li>
            <li><a class="glyphicon glyphicon-list-alt" href="/manutentions"> <span class = "p"> Manutenção</span></a></li>
        <%end%>
      </ul>
    </div>
     </nav>
	<div class="container"> 
	   <%=yield%> 
	</div>
   <footer>
        <div class="navbar navbar-default navbar-fixed-bottom">
            <div class="container">
                <div class="navbar-collapse collapse" id="footer-body">
                    <ul class="nav navbar-nav">
                       <!-- <li><a href="/contacts/new">Contato</a></li>-->
                        <li><a class ="nav navbar-nav pull-right" href="https://github.com/labcompufba/labcompufba" title="github" target="_blank"><i class="fa fa-github fa-2x"></i></a></li> 
                        <% if user_signed_in? %>
                             <li><a ><i class="fa fa-user fa"> Usuário Logado:<%= current_user.nome %></i></a></li> 
                         <%end%> 
                    </ul>
                </div>
              	<div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#footer-body">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
    
            </div>
        </div>
</footer>
  </div>
</div>
</body>
</html>

