<!doctype html>
<%=stylesheet_link_tag 'application', media: 'all','data-turbolinks-track': 'reload' %>

<html>
  <div class="navbar-header">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <title>Laboratórios Compartilhados</title>
   <%= csrf_meta_tags %>
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
 
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.css">
   
   <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

 </div>

<body>



<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
<div class="navbar-collapse collapse"align="center">
 <h3> Laboratórios Compartilhados UFBA</h3>
<div class="container">
   <button type="button" class="navbar-toggle" > 
		<span class="sr-only"> Toggle navigation </span> 
		<span class="icon-bar"> </span> 
		<span class="icon-bar"></span> 
    </button>
 
    <a class="navbar-brand" href="/">Home</a>
       <% if user_signed_in? %>
        <%= link_to "Sign out", destroy_user_session_path, :method => :delete, :class => 'navbar-brand navbar-right' %>
        <%= link_to 'Perfil', edit_user_registration_path, :class => 'navbar-brand navbar-right' %> 
    <% else %>
         <%=link_to "Login", new_user_session_path, :class => 'navbar-brand navbar-right'  %>
    <% end %>
 
    <div class= "dropdown">
	 <a class="navbar-brand dropdown-toggle-left " data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Cadastros
	 <span class="caret"></span></a>
      <ul class="dropdown-menu" >
        <li> <a class="glyphicon glyphicon-hdd" href="/equipamentos"> <span class = "p">Equipamentos</span></a></li>
        <li><a class="glyphicon glyphicon-home" href="/institutos"> <span class = "p"> Institutos</span></a></li>
        <li><a class="glyphicon glyphicon-book" href="/laboratorios"> <span class = "p"> Laboratórios</span></a></li>
       <!-- <li><a class="glyphicon glyphicon-calendar" href="/"> <span class = "p"> Manuteção</span></a></li>-->
      </ul>
    </div>
     </nav>
     
     
 <div id="fat-menu" class="dropdown">
                    <a class="#" class="dropdown-toggle" data-toggle="dropdown"role="button" aria-haspopup="true" aria-expanded="false">Cadastros
	 <span class="caret"></span></a>
                    
                <ul class="dropdown-menu">
                        <li>sss %></li>
                        <li class="divider"></li>
                        <li>
                           sada
                        </li>
                    </ul>
                </div>

     
	<div class="container"> 

	   <%=yield%> 
	</div>
    <footer class="container-fluid text-center"> 
	</footer>
  </div>
</div>
</body>
</html>

